html
    head
        //- link(rel='stylesheet', href='./public/styles.css')
        link(rel='stylesheet', href='/mycss.css')
        title= page
    body
    div.nav
        nav
            a(href='/') Home
            a(href='/services') Services
            a(href='/contact') Contact
    div.head
        h1 Welcome to my #{page}page!
    div.content
        p I provide high-quality products and services to our customers.
        p My mission is to make the world a better place.
        p Contact me today to learn more.
